{% extends "JVBlogBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block jvblog_body %}

  <h2>{{ article.title }}</h2>
  <i>Par {{ article.author }}, le {{ article.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ article.content }}
  </div>

  {% if not article.categories.empty %}
    <p>
      Cette annonce est parue dans les catégories suivantes :
      {% for category in article.categories %}
        {{ category.name }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}

  {% if listArticleTags|length > 0 %}
    <div>
      Cette article a les tags suivant :
      <ul>
        {% for articleTag in listArticleTags %}
          <li>{{ articleTag.tag.name }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <p>
    <a href="{{ path('jv_blog_home') }}" class="btn btn-default">
      Retour à la liste
    </a>
    <a href="{{ path('jv_blog_edit', {'id': article.id}) }}" class="btn btn-default">
      Modifier l'annonce
    </a>
    <a href="{{ path('jv_blog_delete', {'id': advert.id}) }}" class="btn btn-danger">
      Supprimer l'annonce
    </a>
  </p>

{% endblock %}
